@bgc: #F2F2F2;
@blue: #2E2D3D;
@descr: #C4C4C4;

.standart-button(){
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	height: 30px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin-left: 10px;
	border-radius: 15px;
	font-weight: 500;
	outline: none;
}
@media (min-width: 1200px){
	header{
		.header-main{
			.search-group{
				.languages{
					.search-bar{
						display: none;
					}
				}
			}
		}
		nav{
			.menu{
				display: none;
			}
			.main-menu{
				display: block !important; 
				hr{
					display: none;
				}
			}
		}
	}
}


@media (min-width: 993px) and (max-width: 1199px){
	header{
		.header-main{
			.search-group{
				.languages{
					.search-bar{
						display: none;
					}
				}
			}
		}
		nav{
			.menu{
				display: none;
			}
			.main-menu{
				display: block !important; 
				hr{
					display: none;
				}
			}
		}
	}
	main{
		.main{
			.content{
				.main-block{
					.blocks-song{
						.block{
							max-width: 325px;
							.description{
								width: 183px;
							}
						}
					}
				}
				.table-block{
					.block-top-singer{
						ul{
							li{
								max-width: 670px;
							}
						}
					}
				}
			}
		}
	}
}


@media (min-width: 769px) and (max-width: 992px){
	header{
		.header-main{
			.search-group{
				.search-string{
					width: 100%;
					display: flex;
					input[type=text]{
						width: 100%;
					}
					button{
						left: 0;
						.standart-button();
						padding: 0 15px;
					}
				}
				.alpha-string{
					display: none;
				}
				.languages{
					display: none;
				}
			}
		}
		nav{
			.menu{
				display: none;
			}
			.main-menu{
				display: block !important; 
				hr{
					display: none;
				}
			}
		}
	}
	main{
		.main{
			.content{
				.main-block{
					.blocks-song{
						flex-direction: column;
						.block{
							max-width: 430px;
							.description{
								width: 288px;
							}
						}
					}
				}
				.table-block{
					.block-top-singer{
						ul{
							li{
								max-width: 430px;
							}
						}
					}
				}
			}
		}
	}
}


@media (min-width: 570px) and (max-width: 768px){
	header{
		.header-main{
			.title-group{
				.title{
					small{
						display: none;
					}
				}
			}
			.search-group{
				.search-string{
					width: 100%;
					display: flex;
					input[type=text]{
						width: 100%;
					}
					button{
						left: 0;
						.standart-button();
						padding: 0 15px;
					}
				}
				.alpha-string{
					display: none;
				}
				.languages{
					display: none;
				}
			}
		}
		nav{
			.nav{
				.menu{
					display: flex;
					justify-content: center;
					button{
						position: relative;
						left: -6px;
					}
				}
				.main-menu{
					display: none;
					ul{
						margin-top: 20px;
						flex-direction: column;
						li{
							margin-bottom: 20px;
							&:last-child{
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
	main{
		.main{
			grid-template-columns: 1fr;
			aside{
				grid-row: 2;
				width: 540px;
			}
			.content{
				grid-row: 1;
				.main-block{
					.blocks-song{
						flex-direction: column;
						.block{
							max-width: 540px;
							.description{
								width: 398px;
							}
						}
					}
				}
				.table-block{
					.block-top-singer{
						ul{
							li{
								max-width: 670px;
							}
						}
					}
				}
			}
		}
	}
}


@media (max-width: 569px){
	header{
		padding-left: 10px;
		padding-right: 10px;
		.header-main{
			.title-group{
				flex-direction: column;
				.title{
					small{
						display: none;
					}
					h1{
						margin: 0;
						margin-bottom: 20px;
						position: relative;
						&::after{
							content: '';
							position: absolute;
							width: 100%;
							height: 1px;
							background-color: #fff;
							left: 0;
							bottom: 0;
						}
					}
				}
				.authorization{
					flex-direction: column;
					button{
						position: relative;
						left: -6px;
						&:first-child{
							margin-bottom: 5px;
						}
					}
				}
			}
			.search-group{
				.search-string{
					width: 100%;
					display: flex;
					input[type=text]{
						width: 540px;
					}
					button{
						left: 0;
						.standart-button();
						padding: 0 15px;
					}
				}
				.alpha-string{
					display: none;
				}
				.languages{
					display: none;
				}
			}
		}
		nav{
			.nav{
				.menu{
					display: flex;
					justify-content: center;
					button{
						position: relative;
						left: -6px;
					}
				}
				.main-menu{
					display: none;
					ul{
						margin-top: 20px;
						flex-direction: column;
						li{
							margin-bottom: 20px;
							&:last-child{
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
	main{
		padding: 0 10px;
		.main{
			grid-template-columns: 1fr;
			aside{
				grid-row: 2;
				width: auto;
			}
			.content{
				grid-row: 1;
				.main-block{
					.blocks-song{
						flex-direction: column;
						.block{
							width: auto;
							max-width: 540px;
							.description{
								max-width: 398px;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}