@bgc: #F2F2F2;
@blue: #2E2D3D;
@descr: #C4C4C4;

.standart-button(){
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	height: 30px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin-left: 10px;
	border-radius: 15px;
	font-weight: 500;
	outline: none;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
	@media (min-width: 1200px){
		width: 1140px;
	}
	@media (min-width: 993px) and (max-width: 1199px){
		width: 960px;
	}
	@media (min-width: 769px) and (max-width: 992px){
		width: 720px;
	}
	@media (min-width: 570px) and (max-width: 768px){
		width: 540px;
	}
	@media (max-width: 569px){
		width: 540px;
	}
}
html{
	height: 100%;
}
body{
	height: 200vh;
	min-width: 570px;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	background-color: @bgc;
}
a{
	text-decoration: none;
	font-size: 14px;
}
li{
	list-style-type: none;
	font-size: 14px;
}
button{
	font-size: 14px;
}
input{
	font-size: 14px;
}

header{
	padding: 20px 0 0 0;
	background-color: @blue;
	color: #fff;
	margin-bottom: 30px;
	.visible{
		display: block;
	}
	hr.header-hr{
		border: 1px solif #fff;
		border-top: none;
		margin: 20px 0 0 0;
		position: relative;
	}
	.header-main{
		.title-group{
			display: flex;
			justify-content: space-between;
			align-items: center;
			a{
				color: #fff;
			}
			.title{
				text-transform: uppercase;
				display: flex;
				align-items: center;
				h1{
					font-size: 28px;
					margin-right: 20px;
				}
				small{
					position: relative;
					bottom: -1px;
					width: 80px;
					font-size: 10px;
					color: @descr;
					&::before{
						content: '';
						position: absolute;
						height: 100%;
						width: 1px;
						background-color: @descr;
						transform: translateX(-5px);
					}
				}
			}
			.authorization{
				display: flex;
				button{
					.standart-button();
					padding: 0 30px;
					cursor: pointer;
				}
			}
		}
		.search-group{
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.search-string{
				&.hidden{
					display: none;
				}
				input[type=text]{
					height: 30px;
					background-color: transparent;
					width: 250px;
					padding: 0 15px;
					border-radius: 15px;
					border: 1px solid #fff;
					font-family: 'Montserrat', sans-serif;
					outline: none;
					color: #fff;
					&::-webkit-input-placeholder{
						color: @descr;
					}
				}
				button{
					background-color: transparent;
					color: #fff;
					border: none;
					position: relative;
					left: -34px;
					outline: none;
					cursor: pointer;
				}
				button.view{
					left: 0;
					.standart-button();
					padding: 0 15px;
				}
			}
			.alpha-string{
				&.hidden{
					display: none;
				}
				ul{
					display: flex;
					&.hidden{
						display: none;
					}
					li{
						margin-left: 7px;
						a{
							color: #fff;
						}
						&:last-child{
							margin-left: 15px;
						}
					}
				}
			}
			.languages{
				display: flex;
				button{
					&.hidden{
						display: none;
					}
					.standart-button();
					padding: 0 10px;
					cursor: pointer;
					&.active{
						background-color: #fff;
						color: @blue;
					}
				}
			}
		}
	}
	nav{
		width: 100%;
		padding: 20px 0;
		transition: .3s;
		background-color: @blue;
		&.fixed{
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0.9;
			&:hover{
				opacity: 1;
			}
		}
		.nav{
			.menu{
				button{
					.standart-button();
					padding: 0 30px;
					cursor: pointer;
					&.active{
						background-color: #fff;
						color: @blue;
					}
				}
			}
			ul{
				display: flex;
				align-items: center;
				justify-content: space-between;
				a{
					color: #fff;
				}
			}
		}
	}
}

main{
	flex: 1 0 auto;
}

footer{
	flex: 0 0 auto;
}