@bgc: #F2F2F2;
@blue: #2E2D3D;
@descr: #C4C4C4;

.standart-button(){
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	height: 30px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin-left: 10px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: 500;
	outline: none;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
html{
	height: 100%;
}
body{
	min-width: 1200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	background-color: @bgc;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}

header{
	padding: 20px 0 0 0;
	background-color: @blue;
	color: #fff;
	.header{
		hr.header-hr{
			border: 1px solif #fff;
			border-top: none;
			margin: 20px 0 0 0;
		}
		.title-group{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.title{
				text-transform: uppercase;
				display: flex;
				align-items: center;
				h1{
					font-size: 28px;
					margin-right: 20px;
				}
				small{
					position: relative;
					bottom: -1px;
					width: 80px;
					font-size: 10px;
					color: @descr;
					&::before{
						content: '';
						position: absolute;
						height: 100%;
						width: 1px;
						background-color: @descr;
						transform: translateX(-5px);
					}
				}
			}
			.authorization{
				display: flex;
				button{
					.standart-button();
					padding: 0 30px;
					transition: .4s;
					&:hover{
						background-color: #fff;
						cursor: pointer;
						color: @blue;
					}
				}
			}
		}
		.search-group{
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.search-string{
				input[type=text]{
					height: 30px;
					background-color: transparent;
					width: 250px;
					padding: 0 15px;
					border-radius: 15px;
					border: 1px solid #fff;
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					outline: none;
					color: #fff;
					&::-webkit-input-placeholder{
						color: @descr;
					}
				}
				button{
					background-color: transparent;
					color: #fff;
					font-size: 14px;
					border: none;
					position: relative;
					left: -34px;
					outline: none;
					cursor: pointer;
				}
			}
			.alpha-string{
				ul{
					display: flex;
					li{
						font-size: 14px;
						margin-left: 7px;
						a{
							color: #fff;
						}
						&:last-child{
							margin-left: 15px;
						}
					}
				}
			}
			.languages{
				display: flex;
				button{
					.standart-button();
					padding: 0 10px;
					cursor: pointer;
					&.active{
						background-color: #fff;
						color: @blue;
					}
				}
			}
		}
	}
	nav{
		padding: 20px 0;
		.nav{
			ul{
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				a{
					color: #fff;
				}
			}
		}
	}
}

main{
	flex: 1 0 auto;
}

footer{
	flex: 0 0 auto;
}